@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "bebas-neue-pro", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
